.app-header {
  background-color: var(--clr1);
  color: var(--gray1);
  padding: 1em;
}

.app-header section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.app-header .app-nav {
  display: flex;
  gap: 15px;
}

.app-header a:hover {
  text-decoration: underline;
}

.app-header a.active {
  text-decoration: underline;
}


@media (max-width: 720px) {
  .app-header {
      color: var(--clr2bg);
  }
}
