.book-filter {
    background-color: var(--clr2bg);
    padding: 10px;
    margin-block-end: 15px;
}

.book-filter form {
    display: flex;
}

.book-filter form>* {
    margin-inline-end: 15px;
}

.book-filter .price-filter {
    display: flex;
    gap: 10px;
}