.book-index {
    display: grid;
    gap: 15px;
}

.book-index h1 {
    margin-block-start: 15px;
    text-align: center;
}

.book-index .btn-add-book {
    margin: 0 0 0 0;
    justify-self: center;
    align-self: center;
}

