.book-details {
    background-color: var(--gray2);
    display: grid;
    gap: 10px;
    padding: 20px;
    margin: 20px;
}
.book-details h1 {
    color: var(--clr1);
    font-size: 2em;
    
}
.book-details h5 {
    color: var(--clr2);
}
.book-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.book-details div:first-of-type{
    position: relative;
}

.book-details .book-sale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5) rotate(-20deg);
    background-color: rgba(245, 245, 245, 0.749);
    color: green;
    text-decoration: underline;
    font-weight: 600;
}