.book-edit {
    display: grid;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;

    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    color: whitesmoke;

    background-color: rgb(124, 8, 8);
}

.book-edit input {
    padding: 10px 20px;
}

.book-edit button:first-of-type {
    justify-self: center;
    margin-block-start: 15px;
}

.book-edit .btn-cancel {
    position: absolute;
    top: 0;
    left: 0;
}