

@font-face {
    font-family: asapReg;
    src: url(../../fonts/asap/AsapCondensed-Regular.ttf);
}

@font-face {
    font-family: asapBold;
    src: url(../../fonts/asap/AsapCondensed-Medium.ttf);
}

@font-face {
    font-family: "fa-solid";
    src: url(../../fonts/fa/fa-solid-900.ttf);
}

.fa {
    font-family: "fa-solid", serif;
}

.fa.info::before {
    content: "\f05a";
}

.fa.delete::before {
    content: "\f1f8";
}

.fa.edit::before {
    content: "\f044";
}