:root {
  --clr1: rgb(121, 121, 121);
  --clr2: rgb(120, 99, 110);

  --clr1bg: rgb(119, 119, 119);
  --clr1bg-light: rgb(108, 108, 108);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --clrSuccess: rgb(130, 154, 123);
  --clrFailure: rgb(212, 145, 145);
}