.main-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  /* margin: 0 auto; */
}

.main-layout > * {
  grid-column: 2;
}

.container {
  padding: 1em;
  margin: auto;
}


